:root {
    --cor-primaria: #8b5cf6;
    --cor-secundaria: #38bdf8;    
    --cor-branca: #fff;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-azul-escuro: #0f172a;
    --cor-fundo-cinza-escuro: #282828;    
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans serif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }